body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: #849d8f;
  color: #ffffff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 18px;
  background-color: #849d8f;
  font-weight: bold;

}

/*убираю маркеры  списков меню*/
.site-navigation,
.user-actions,
.catalog-menu,
.cart-items,
.catalog-list,
.advantages-list,
.social-list {
  list-style: none;

}

/*цвет ссылок хедера,футтера,хитов,новостей*/
.main-navigation-link,
.user-actions a,
.catalog-list a,
.social-list a,
.more-info a,
.footer-copyright-container a {
  color: #ffffff;
}

.contact-info {
  font-weight: bold;
  text-align: right;

}

.contact-time {
  font-size: 14px;
  line-height: 16px;
}

.contact-number {
  font-size: 22px;
  line-height: 24px;
}

.promo-item {
  width: 560px;
  height: 229px;
  font-size: 18px;
  text-align: left;

  border-radius: 15px;
}

.promo-item-name {
  font-size: 35px;
  line-height: 41px;


}

.raspberries {
  /*  указать потом фоновый цвет(фотошоп кончился)*/
  background-image: url(../img/raspberries.jpg);
  background-repeat: no-repeat;
}

.chocolate {
  /*  указать потом фоновый цвет(фотошоп кончился)*/
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
}

.catalog-list h3 {
  text-align: center;
}

.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.weight {
  font-size: 30px;
}

.site-discription {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-align: left;

}

.advantages {
  width: 1146px;
  height: 306px;
  padding: 21px;
  text-align: left;
  color: #323232;
  /*  указать потом фоновый цвет(фотошоп кончился)*/
  background-image: url(../img/waffle.jpg);
  border-radius: 15px;
  box-sizing: border-box;

}

.subscription {
  border-radius: 15px;

}

.half-width {
  width: 560px;
}

.news {
  height: 222px;
  border-radius: 15px;
  font-size: 24px;
  line-height: 30px;
  /*  указать потом фоновый цвет(фотошоп кончился)*/
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
}

.news a {
  color: #323232;
}

.news-name {
  /*  text-decoration-line: underline; или бордер*/
}

.subscription-container {
  height: 220px;
  padding: 5px;
  color: #5a5a5a;
  background-image: url(../img/mail-backgound.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
  box-sizing: border-box;
}

.subscription {
  width: 549px;
  height: 211px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscription-item {
  margin-top: 0;
}

.more-info {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  width: 305px;
}

.footer-copyright-container {
  font-size: 12px;
}

.catalog-menu-item {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.new-in-catalog {
  font-weight: bold;
}

.catalog-menu-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
  background-color: rgb(248, 247, 243);
}

.catalog-menu-item:hover {
  background-color: #fbded7;
}

.catalog-menu-item:active {
  background-color: #f6b5a5;
}

.link-hover:hover {
  color: #ffbc9e;
}


.catalog-item:hover {
  background-color: rgb(155, 175, 163);

}

.site-navigation-hover:hover {
  color: rgb(67, 67, 66);
  background-color: rgb(247, 246, 242);

}

.site-navigation-hover:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation-item-active {
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation-item-active:active {
  color: rgb(67, 67, 66);
  background-color: rgb(247, 246, 242);
  box-shadow: inset 0px 2px 1px 0 #696969;

}

.ice-cream-catalog {
  border-radius: 50%;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.grid-section-container {
  /*контейнер-секции-сетки*/
  padding: 0 27px;
}

.main-header-left {
  display: flex;
}

.site-navigation {
  display: flex;
  padding: 0;
}

.site-navigation-item {
  margin-left: 24px;
}

.user-actions-container {
  display: flex;
}

.user-actions {
  display: flex;

}

.user-actions-item {
  margin-left: 24px;
}

.documents-container {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 220px;

}

.advantage-item {
  width: 470px;
  padding-left: 55px;
}

.advantage-item-text {
  margin: 0;
}

.advantage-item:nth-child(1),
.advantage-item:nth-child(3) {
  margin-bottom: 20px;
}

.catalog-list {
  padding: 0;
  flex-wrap: wrap;
}

.catalog-item {
  width: 267px;

}
