body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  transition: background-color 0.5s ease;

}

.site-container {
  width: 1200px;
  padding-top: 9px;
  margin-left: auto;
  margin-right: auto;
  transition: background-image 0.5s ease;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 18px;
  font-weight: bold;

}

/*убираю маркеры  списков меню*/
.site-navigation,
.user-actions,
.catalog-menu,
.cart-items,
.catalog-list,
.advantages-list,
.social-list,
.breadcrumbs {
  list-style: none;

}

/*цвет ссылок хедера,футтера,хитов,новостей*/
.main-navigation-link,
.catalog-list a,
.social-list a,
.more-info a,
.footer-copyright-container a,
.breadcrumbs a {
  color: #ffffff;
}

.contact-info {
  font-weight: bold;
  text-align: right;

}

.contact-time {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 5px;
}

.contact-number {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}

.promo-item {
  width: 560px;
  height: 229px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 40px;
  box-sizing: border-box;
  border-radius: 15px;
  position: relative;
}

.promo-item-name {
  font-size: 35px;
  line-height: 41px;
  margin: 0;

}

.promo-item p {
  font-weight: bold;
  margin-top: 10px;
}

.raspberries {
  /*  указать потом фоновый цвет(фотошоп кончился)*/
  background-image: url(../img/raspberries.jpg);
  background-repeat: no-repeat;
}

.chocolate {
  /*  указать потом фоновый цвет(фотошоп кончился)*/
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
}

.catalog-list h3 {
  text-align: center;
}

.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.weight {
  font-size: 30px;
}

.site-discription {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-align: left;

}

.advantages {
  width: 1146px;
  height: 306px;
  padding: 21px;
  text-align: left;
  color: #323232;
  /*  указать потом фоновый цвет(фотошоп кончился)*/
  background-image: url(../img/waffle.jpg);
  border-radius: 15px;
  box-sizing: border-box;

}

.subscription {
  border-radius: 15px;
  box-sizing: border-box;

}

.half-width {
  padding: 20px;
  width: 560px;
}

.news {
  height: 222px;
  border-radius: 15px;
  font-size: 24px;
  line-height: 30px;
  /*  указать потом фоновый цвет(фотошоп кончился)*/
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.news-heading {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: normal;
}

.news a {
  color: #323232;
}

.news-name {
  margin: 0;
  font-weight: bold;
  text-decoration-line: underline;
}

.subscription-container {
  height: 220px;
  padding: 5px;
  color: #5a5a5a;
  background-image: url(../img/mail-backgound.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
  box-sizing: border-box;
}

.subscription {
  width: 549px;
  height: 211px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscription-item {
  margin-top: 0;
  margin-bottom: 35px;
}

.more-info {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  width: 305px;
}

.footer-copyright-container {
  font-size: 12px;
  margin: 0;
}

.catalog-menu-item {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #323232;
  min-height: 28px;
}

.catalog-menu-line:hover {
  background-color: #fbded7;
}

.catalog-menu-line:active {
  background-color: #f6b5a5;
}

.link-hover:hover {
  color: #ffbc9e;
}
.site-navigation-hover:hover {

  background-color: rgb(247, 246, 242);
  border-radius: 50px;
  color: rgb(67, 67, 66);


}

.site-navigation-hover:hover > a,
.site-navigation-hover:hover > button {
  color: rgb(67, 67, 66);
}

.site-navigation-hover:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation-item-active {
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation-item-active:active {
  color: rgb(67, 67, 66);
  background-color: rgb(247, 246, 242);
  box-shadow: inset 0px 2px 1px 0 #696969;

}

.ice-cream-catalog {
  border-radius: 50%;
  margin-bottom: 15px;
  position: relative;
}
.bestseller-product:before{
  content: "";
  width: 61px;
  height: 61px;
  background: url(../img/hit.svg) no-repeat;
  background-size: 61px 61px;
  position: absolute;
  z-index: 1;
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*контейнер-секции-сетки*/
.grid-section-container {
  padding: 0 27px;
}


.main-header-left {
  display: flex;
}

.site-navigation {
  display: flex;
  padding: 0;
}

.site-navigation-item {
  padding: 5px 14px;
  position: relative;

}

.user-actions-container {
  display: flex;
}

.user-actions {
  display: flex;
  margin: 13px;

}

.user-actions-item {
  margin-left: 24px;
}

.documents-container {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 220px;
  padding: 0;

}

.advantage-item {
  width: 476px;
  padding: 5px 55px;

}

.advantage-item-text {
  margin: 0;
  /*  background-image: url(../img/)*/
}

.advantage-item:nth-child(1),
.advantage-item:nth-child(3) {
  margin-bottom: 20px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.catalog-item {
  width: 285px;
  position: relative;
  border-radius: 5px;
}

.catalog-item-container {
  padding: 5px 9px 20px;
}

.catalog-item-hover {
  padding: 0;
  display: none;
  text-align: center;
}

.catalog-item:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}
.quick-view{
  padding: 10px 15px;
  font-size: 18px;
}



.advantages,
.news-subscription-container,
.map {
  margin-bottom: 40px;
}

.price {
  position: absolute;
  margin: 0;
  top: 205px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item h3 {
  margin-top: 0;
  margin-bottom: 40px;
}

.quick-view {
  display: none;
}



.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  top: 1px;
  right: -15px;
  width: 8px;
  height: 8px;
}

.breadcrumbs-current::after {
  display: none;
}

.button {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.promo-item .button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  line-height: 24px;
  font-size: 18px;
  padding: 9px 23px;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.subscription-mail {
  width: 368px;
  height: 44px;
  border-radius: 5px;
  border: 0 none;
  margin-right: 10px;
}

.send-mail {
  height: 44px;
  padding: 14px 19px;

}

.user-button {
  display: inline-block;
  background-color: rgb(255, 255, 255, 0.2);
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 50px;
}

.cart-button {
  background-image: url(../img/icons/basket.svg);

}

.login-toggle {
  position: relative;
  background-image: url(../img/icons/invalid-name.png);
}

.cart-button,
.login-toggle {
  background-repeat: no-repeat;
  background-position: 16px 7px;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 17px 9px 45px;
}

.search-button {
  background-image: url(..//img/icons/search-device.svg);
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  border-radius: 100px;
  background-position: 10px;
}

.site-container {
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 940px;
}

.promo-carousel {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.carousel-list {
  margin: 0;
  margin-top: -50px;
  padding: 0;

  list-style: none;
}

.slider-title {
  width: 672px;
  font-weight: bold;
  line-height: 60px;
  font-size: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slide-button {
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  padding: 10px 40px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  /*  background-color: transparent;*/
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 17px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper .site-container {
  background-image: url(../img/ice-cream/1layer.png);

}

#btn-2:checked ~ .site-wrapper .site-container {
  background-image: url(../img/ice-cream/2layer.png);


}

#btn-3:checked ~ .site-wrapper .site-container {
  background-image: url(../img/ice-cream/3%20layer.png);

}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
}

.site-container::before,
.site-container::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/ice-cream/2layer.png);
}

.site-wrapper::after {
  background-image: url(../img/ice-cream/3layer.png);
}

.catalog-menu-line {
  padding: 0 20px;
  min-height: 28px;

}

.catalog-menu {

  border-radius: 5px;
  overflow: hidden;
  padding: 5px 0;
  background-color: rgb(248, 247, 243);
  width: 143px;

}

/*ДЛЯ ВЫПАДАЮЩЕГО МЕНЮ*/
.drop-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.new-in-catalog {
  font-weight: bold;
  position: relative;
}

.catalog-menu-container {
  top: 30px;
  left: -10px;
  padding-top: 15px;

}

.drop-trigger:hover .drop-menu {
  display: block;

}

.active-page {
  border-radius: 20px;
}

.user-form {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-line {

  width: 311px;
  padding: 15px;

}

.search-form {
  width: 341px;
  min-height: 84px;
  padding: 20px 15px;


}

/*СТИЛИ ДЛЯ ПОЛЕЙ ВВОДА*/
.user-field {
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  color: #999999;
}

.search-line-button {
  position: relative;
}

.login-form {
  width: 277px;
  height: 214px;
  padding: 20px 18px;

}

.login-mail-password {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;

}

.login-button {
  width: 100px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 20px;
}

.user-actions-item:hover {
  color: #323232;
}

.forgot-password,
.registration {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.new-password-user {
  display: flex;
  flex-direction: column;
  margin-top: -4px;
}

.login-form-actions {
  display: flex;
}

.cart-container {
  width: 539px;
  min-height: 242px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f8f7f4;

}

/*чтобы не сворачивалось выпадающее меню*/
.cart-wrapper {
  top: 44px;
  right: 126px;
  padding: 21px;
}

.search-form-container {
  padding: 10px;
  top: 30px;
  right: -7px;
}

.login-container {
  top: 55px;
  right: 263px;
  padding: 10px;
}

.login-container-catalog {
  right: 280px;
}

.cart-items-container {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-ice {
  border-radius: 20px;
  margin: 0 9px;

}

.cart-items {
  padding: 0;
  position: relative;
}

.cart-item-weight {
  margin-left: 30px;
}

.cart-item-price {
  margin-right: 27px;
  color: #999999;
}

.cart-item-name {
  display: inline-block;
  width: 217px;
  vertical-align: top;
}

.delete-from-cart {
  border: 0;
  background-color: inherit;
}

.cart-items:after {
  content: "";
  position: absolute;
  background-color: #cacac7;
  left: 8px;
  right: 8px;
  height: 1px;
}

.checkout-button {
  width: 170px;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 14px;
}

.total-price {
  color: #323232;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;

}

.total-container {
  text-align: right;
}

.bottom-line:after {
  content: "";
  position: absolute;
  background-color: #cacac7;
  left: 8px;
  right: 8px;
  height: 1px;
  top: 47px;
}

.user-actions-item:hover .cart-button {
  background-image: url(../img/icons/basket-black.svg);
  background-size: 21px 20px;
}

.user-actions-item:hover .cart-button-full {
  background-image: url(../img/icons/basket-red.svg);
  background-size: 21px 20px;
}

.user-actions-item:hover .login-toggle {
  background-image: url(../img/icons/loginicon1.png);
  background-size: 21px 19px;
}

.user-actions-item:hover .search-button {

  background-image: url(../img/icons/lope@3x.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.pop-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.pop-up-feedback {
  position: relative;
  width: 478px;
  height: 443px;
  padding: 20px 23px;
  border-radius: 10px;
  background-color: #f8f7f4;
  box-sizing: border-box;
}

.pop-up-feedback h2 {

  margin: 0;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-form {
  display: flex;
  width: 267px;
  height: 44px;
  font-size: 16px;
  line-height: 24px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #323232;
  font-weight: bold;
}

/*стили подсветки формы обратной связи*/
.feedback-form:hover,
.review:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form:active,
.review:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.feedback-form::placeholder,
.review::placeholder {
  font-weight: normal;
  font-size: 16px;
  color: #999999;

}

.review {
  width: 428px;
  height: 155px;
  font-weight: bold;
  font-family: inherit;
  line-height: 24px;
  color: #323232;
  padding: 15px;
  margin-bottom: 25px;
  box-sizing: border-box;
  resize: none;
}


.send-review-button {
  width: 139px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
}

.review-button-container {
  display: flex;
  justify-content: flex-end;
}

.pop-up-close {
  position: absolute;
  width: 18px;
  height: 17px;
  padding: 0;
  margin: 0;
  top: 15px;
  right: 15px;
  font-size: 0;
  background-image: url(../img/icons/x-big.svg);
  background-size: 18px 17px;
  background-color: inherit;
  border: none;


}

/*временно*/
.pop-up-container {
  display: none;

}


.main-navigation-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-item-active a {
  border-bottom: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  margin: 0;
  padding: 0;
}



.social-button {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 23px;
}

.social-button:hover {
  opacity: 1;

}

.social-button:active {
  opacity: 0.7;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.heart-suppliers {
  position: relative;
  font-weight: bold;
}

.heart-suppliers::before {
  position: absolute;
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  top: 4px;
  left: -18px;
  background: url(../img/heart.svg) no-repeat;
  background-size: 15px 13px;

}

.advantage-item {
  background-position: top left;
  background-repeat: no-repeat;
}

.advantage-item:nth-child(1) {
  background-image: url(../img/icon-icecream.svg);
}

.advantage-item:nth-child(2) {
  background-image: url(../img/eco.svg);
}

.advantage-item:nth-child(3) {
  background-image: url(../img/cow.svg);
}

.advantage-item:nth-child(4) {
  background-image: url(../img/temperature.svg);
}

.more-info a,
.footer-copyright-container a,
.breadcrumbs a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: left;
}

.main-footer {
  margin-top: 18px;
  align-items: center;
  padding: 25px;
}

.review::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.user-button {
  cursor: pointer;
}
